@model IEnumerable<DataBaseEntities.Models.ViewModel.LanguageViewModel>

@{
    ViewData["Title"] = "Index";
}

<h5>The list of languages in Database</h5>

<p>
    <a asp-action="AddLanguages">Add Language</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>

                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="DeleteLanguage" asp-route-languageName="@item.Name">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>

