@model IEnumerable<DataBaseEntities.Models.ViewModel.CountryViewModel>

@{
    ViewData["Title"] = "CountryIndex";
}

<h5>The list of countries in Database</h5>

<p>
    <a asp-action="AddCountry">Add Country</a>
</p>
<table class="table">
    <thead>
       <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        
      <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>

                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="DeleteCountry" asp-route-countryName="@item.Name">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
